<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I like working with cognitive and interdisciplinary topics. It's my passion and my profession. I love the Internet and what it stands for, and I've received a lot from it and therefore want to pay back to the community;  My research interests are in cognition and perception both human and machine, and include their interaction and collaboration, so this including the Vector Symbolic Architecture, Deep Learning, Reinforcement Learning, Graph machine learning and spike neural network, Neuroscience and Robotics, Human-AI interaction and so on. Maybe it sounds cliche, but as a lifetime Sci-Fi fan, I want to bring the Sci-Fi world into reality.
            </p>
            <p class="paragraph-text justify-text">
                My role models include old-school (perhaps new-school? ) scientists, like Richard Feynman and Fei-Fei Li. 
            </p>
            <p class="paragraph-text justify-text">
                Personal hobbies include watching movies and TV series, especially sci-fi and history relatives, and reading about philosophy, history, conceptual, cognitive, psychology, and sci-fi. I love learning languages since they contain a whole world of philosophy and culture. I took classes to learn badminton and table tennis, Chess (both Chinese and the "Chess" chess), drawing in my childhood. I do have  5+ years of poppin' dancing experience at a young age, over decades practicing guitar until now, and nowadays I am also practicing Kendo...Hiking with friends is fun too.
            </p>
            <p class="paragraph-text justify-text">
                Work-life balance is huge for me, and I believe that passion and curiosity of personal research interest fuel efficient working, not forced labor due to the pressure of existence.
            </p>
            <p class="paragraph-text justify-text">
               I promote, support, and use free and open-source software/research to the extent possible. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page. I like to participate in projects that are fun, society-helpful, and profitable(since it is an efficient way to involve more people and force,  to commit to good deeds.)
            </p>
        </div>
    </section>
</div>
