<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hey there! Let me tell you a bit about what drives me. I'm totally fascinated by anything related to cognition and interdisciplinary research - it's not just my job, it's what gets me excited! Having grown up alongside the internet, I've gotten so much from online communities that I'm always looking for ways to give back. My research is all about understanding how both humans and machines think and perceive things. I work with all sorts of cool stuff like Vector Symbolic Architecture, various flavors of machine learning (deep learning, reinforcement learning, graph ML), spike neural networks, neuroscience, and robotics. I'm particularly interested in how humans and AI can work together better. And you know what? As a lifelong sci-fi fan, I'm actually working towards making those amazing sci-fi concepts a reality!
            </p>
            <p class="paragraph-text justify-text">
                I'm a huge fan of movies and TV shows, especially anything sci-fi or history-related. When it comes to reading, I love diving into books about philosophy, history, cognitive science, psychology, and sci-fi. Languages are another big interest of mine - I find it fascinating how each one carries its own unique philosophical and cultural world.

Growing up, I tried my hand at quite a few things - took classes in badminton, table tennis, and drawing, plus learned both Chinese and International Chess. I actually spent over 5 years getting into popping dance when I was younger, and I've been playing guitar for more than a decade now (still strumming away!). These days, I'm also getting into Kendo, which is pretty cool. Oh, and I love going hiking with friends whenever we get the chance!
            </p>
            <p class="paragraph-text justify-text">
             Here's something I firmly believe in: work-life balance is crucial. I think the best work comes from genuine passion and curiosity, not from feeling pressured to work just to make ends meet. That's why I'm a big advocate for free and open-source software and research - you can find my projects on GitHub. I'm always excited about getting involved in projects that are not just fun, but also help society and have potential to be profitable (I've found that's often the best way to get more people involved and really make things happen!). The way I see it, when a project can do good while being sustainable, it's a win-win that helps everyone commit to making positive change.

Want to connect? You can find my email at the bottom of this page!
            </p>
        </div>
    </section>
</div>
