<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I like working with cognitive and interdisciplinary topics. It's my passion and my profession. I love the Internet and what it stands for, and I've received a lot from it and want to pay back to the community;  My research interests are in cognition and perception both human and machine, and include their interaction and collaboration. Maybe it sounds cliche, but as a lifetime sci-fi fan, I want to bring the sci-fi world into reality.
            </p>
            <p class="paragraph-text justify-text">
                My role models include old-school(new school?) scientists, like Richard Phillips Feynman  and FeiFei Li. 
            </p>
            <p class="paragraph-text justify-text">
               I promote, support, and use free and open-source software to the extent possible. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
