<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="webdev" class="semi-transparent-button with-border white-button" onclick="selected('Deep Learning')">WebDev</a>
                    <a id="native" class="semi-transparent-button with-border white-button" onclick="selected('Reinforcement Learning')">Native</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('Cognition')">Security</a>
                    <a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('DIY')">DIY</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
